################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.suo

/src/.vs
/src/packages
/src/Kash.JSTSUT.Web/.vscode
/src/Kash.JSTSUT.Web/bin
/src/Kash.JSTSUT.Web/obj
/src/Kash.JSTSUT.Web/node_modules
/src/Kash.JSTSUT.Web/reports
/src/Kash.JSTSUT.Web/Scripts
/src/Kash.JSTSUT.Web/ts_out
/src/Kash.JSTSUT.Web/typings
