################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.suo

/src/.vs
/src/Kash.JSTSUT.Web/bin
/src/Kash.JSTSUT.Web/obj
/src/packages
/src/Kash.JSTSUT.Web/bower_components
/src/Kash.JSTSUT.Web/node_modules
/src/Kash.JSTSUT.Web/reports
/src/TestResults