@{
    ViewBag.Title = "Inicio";
}

<h1><i class="glyphicon glyphicon-globe"></i>&nbsp;Hola mundo</h1>
<hr />

<div ng-controller="indexController as vm" ng-init="vm.retrieveFoo('first')">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Datos vinculados
            <span ng-show="vm.isNew" class="badge pull-right">Nuevo</span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-sm-1 text-right">Nombre</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="name" placeholder="Nombre" ng-model="vm.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-1 text-right">Status</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="status" placeholder="Status" ng-model="vm.Status" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="well well-sm clearfix">
        <div class="pull-left">
            <button ng-show="!vm.isNew" class="btn btn-default" ng-click="vm.retrieveFoo('previous')">< Anterior</button>
            <button class="btn btn-default" ng-click="vm.retrieveFoo('first')">Primero</button>
            <button ng-show="!vm.isNew" class="btn btn-default" ng-click="vm.retrieveFoo('next')">Siguiente ></button>
        </div>
        <div class="pull-right">
            <button ng-show="!vm.isNew" class="btn btn-success" ng-click="vm.new()">Nuevo</button>
            <button class="btn btn-primary" ng-click="vm.save()">Guardar datos</button>
            <button ng-show="!vm.isNew" class="btn btn-danger" ng-click="vm.delete()">Eliminar</button>
        </div>
    </div>
    <div id="msgWindow" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{vm.messageStatus}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{vm.message}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

