@{
    ViewBag.Title = "Inicio";
}

<h1><i class="glyphicon glyphicon-globe"></i>&nbsp;Hola mundo</h1>
<hr />

<div ng-controller="IndexController as vm">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Datos vinculados
        </div>
        <div class="panel-body">
            <div class="row">
                <span class="col-md-1 text-right field_lbl">Nombre</span><span class="col-md-11">{{vm.Name}}</span>
            </div>
            <div class="row">
                <span class="col-md-1 text-right field_lbl">Status</span><span class="col-md-11">{{vm.Status}}</span>
            </div>
        </div>
    </div>
    <div class="well well-sm">
        <button class="btn btn-default" ng-click="vm.FillDataForTests()">Cargar datos</button>
        <button class="btn btn-primary" ng-click="vm.Save()">Guardar datos</button>
    </div>
</div>
