@{
    ViewBag.Title = "Inicio";
}

<h1><i class="glyphicon glyphicon-globe"></i>&nbsp;Hola mundo</h1>
<hr />

<div ng-controller="indexController as vm">
    <foo-manager manager-id="mngWindow" />
</div>

